<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BBEditDocumentType</key>
  <string>CodelessLanguageModule</string>
  <key>BBLMLanguageDisplayName</key>
  <string>Muldis D dialect PTMD_STD</string>
  <key>BBLMLanguageCode</key>
  <string>PTMD</string>
  <key>BBLMSuffixMap</key>
  <array>
    <dict>
      <key>BBLMLanguageSuffix</key>
      <string>.md</string>
    </dict>
  </array>
  <key>BBLMColorsSyntax</key>
  <true/>
  <key>BBLMScansFunctions</key>
  <true/>
  <key>BBLMIsCaseSensitive</key>
  <true/>
  <key>BBLMKeywordList</key>
  <array>
    <string>Muldis_D</string>
    <string>PTMD_STD</string>
    <string>catalog_abstraction_level</string>
    <string>the_floor</string>
    <string>code_as_data</string>
    <string>plain_rtn_inv</string>
    <string>rtn_inv_alt_syn</string>
    <string>op_char_repertoire</string>
    <string>basic</string>
    <string>extended</string>
    <string>standard_syntax_extensions</string>
    <string>date_time</string>

    <string>D0</string>
    <string>D0C0</string>
    <string>D0C1</string>
    <string>Nothing</string>
    <string>∅</string>

    <string>depot-catalog</string>
    <string>depot-data</string>

    <string>function</string>
    <string>updater</string>
    <string>procedure</string>
    <string>scalar-type</string>
    <string>tuple-type</string>
    <string>relation-type</string>
    <string>domain-type</string>
    <string>subset-type</string>
    <string>relvar</string>

    <string>possrep</string>
    <string>attr</string>
    <string>is</string>
    <string>constraint</string>
    <string>tuple</string>
    <string>first</string>
    <string>virtual</string>
    <string>map</string>
    <string>determinants</string>
    <string>dependents</string>
    <string>key</string>
    <string>primary</string>
    <string>distributed</string>
    <string>parent</string>
    <string>child</string>
    <string>using</string>
    <string>attrs</string>

    <string>if</string>
    <string>then</string>
    <string>else</string>
    <string>given</string>
    <string>when</string>
    <string>default</string>

    <string>and</string>
    <string>or</string>
    <string>xnor</string>
    <string>iff</string>
    <string>xor</string>
    <string>union</string>
    <string>intersect</string>
    <string>exclude</string>
    <string>symdiff</string>
    <string>join</string>
    <string>times</string>
    <string>cross</string>

    <string>nand</string>
    <string>nor</string>

    <string>isa</string>
    <string>as</string>
    <string>asserting</string>
    <string>imp</string>
    <string>implies</string>
    <string>nimp</string>
    <string>nif</string>
    <string>mod</string>
    <string>Bx</string>
    <string>Tx</string>
    <string>Ax</string>
    <string>minus</string>
    <string>except</string>
    <string>matching</string>
    <string>antijoin</string>
    <string>semiminus</string>
    <string>semijoin</string>
    <string>divideby</string>
    <string>like</string>

    <string>d</string>
    <string>not</string>
    <string>t</string>
    <string>r</string>
    <string>s</string>
    <string>v</string>

    <string>log</string>
    <string>e</string>
    <string>log-e</string>
    <string>round</string>

    <string>min</string>
    <string>max</string>

    <string>create</string>
    <string>depot-mount</string>
    <string>within</string>

    <string>var</string>
    <string>loop</string>

    <string>where</string>

    <string>p5rx</string>

    <string>set</string>
    <string>array</string>
    <string>bag</string>
    <string>from</string>

    <string>ordered</string>
    <string>by</string>
  </array>
  <key>Language Features</key>
  <dict>
    <key>Identifier and Keyword Character Class</key>
    <string><![CDATA[a-zA-Z0-9_∅-]]></string>

    <key>Comment Pattern</key>
    <string><![CDATA[(?x:
      \s+ (\#{2,} | \# [^\#]* \#) (\s+ (\#{2,} | \# [^\#]* \#))* \s+
    )]]></string>

    <key>String Pattern</key>
    <string><![CDATA[(?x:
      (
        (Bool : \s*)? (?<!\w) (False | ⊥ | True | ⊤)
      | (Order : \s*)? (?<!\w) (Increase | Same | Decrease)
      | (RatRoundMeth : \s*)? (?<!\w)
        (
            HalfDown | HalfUp
          | HalfEven
          | ToFloor | ToCeiling
          | ToZero | ToInf
        )
      | (Text : \s*)? (?<!\w) ' [^']* ' (\s* ~ \s* ' [^']* ')*
      | (Comment : \s*)? (?<!\w) ` [^`]* ` (\s* ~ \s* ` [^`]* `)*
      | ((Octet)? Blob : \s*)? (?<!\w)
        [137F] ; \s* ' [0-9A-F]* ' (\s* ~ \s* ' [0-9A-F]* ')*
      | (((|NN|P)Rat | Instant | Duration) : \s*)? (?<!\w)
        (
            [1-9A-Z] ; \s* -?[0-9A-Z_]+
            (
                \.[0-9A-Z_]+
              | \s* \/ \s* [1-9A-Z][0-9A-Z_]*
              | \s* \* \s* [1-9A-Z][0-9A-Z_]* \s* \^ \s* -?[0-9A-Z_]+
            )
          | (0 | -?[1-9](_?[0-9]+)*)
            (
                \.[0-9](_?[0-9]+)*
              | \s* \/ \s* [1-9](_?[0-9]+)*
              | \s* \* \s* [1-9](_?[0-9]+)* \s* \^ \s* -?[0-9](_?[0-9]+)*
            )
        )
      | ((|NN|P)Int : \s*)? (?<!\w)
        (
            [1-9A-Z] ; \s* -?[0-9A-Z_]+
          | (0 | -?[1-9](_?[0-9]+)*)
        )
      | ((UTC | Float) (Instant | DateTime | Date | Time)
            | UTCDuration) : \s*
        (
            [1-9A-Z] ; \s*
            \[ \s*
              (-?[0-9A-Z_]+)?
              (\s* , \s* (-?[0-9A-Z_]+)?){4}
              \s* , \s* (-?[0-9A-Z_]+
              (
                  \.[0-9A-Z_]+
                | \s* \/ \s* [1-9A-Z][0-9A-Z_]*
                | \s* \* \s* [1-9A-Z][0-9A-Z_]* \s* \^ \s* -?[0-9A-Z_]+
              ))?
            \s* \]
          | \[ \s*
              (0 | -?[1-9](_?[0-9]+)*)?
              (\s* , \s* (0 | -?[1-9](_?[0-9]+)*)?){4}
              \s* , \s* ((0 | -?[1-9](_?[0-9]+)*)
              (
                  \.[0-9](_?[0-9]+)*
                | \s* \/ \s* [1-9](_?[0-9]+)*
                | \s* \* \s* [1-9](_?[0-9]+)* \s* \^ \s* -?[0-9](_?[0-9]+)*
              ))?
            \s* \]
        )
      )
    )]]></string>

    <key>Function Pattern</key>
    <string><![CDATA[(?x:
      (?P<function_name>
        (function|updater|procedure
          |((scalar|tuple|relation|domain|subset)-type)
          |relvar) \s+
        (
            [a-zA-Z_][a-zA-Z0-9_-]*
          | " [^"]* " ( \s* ~ \s* " [^"]* " )*
        )
      )
    )]]></string>
  </dict>
</dict>
</plist>
